{% extends "base.html" %}

{% block content %}
	<head><link rel="stylesheet" type="text/css" href="{{ style }}" ></head>
	<div class='tab' align="center">
	<a href="/num1" class="button">Задача №1</a><br>
	<a href="/num5" class="button">Задача №5</a>
	</div>
<div class="boots">
	<div class="alert alert-primary" role="alert">ПАМЯТКА</div>
	<div class="alert alert-secondary" role="alert">Всем привет, данный сайт предназначен для того, </div>
	<div class="alert alert-success" role="alert">чтобы сверить ответы МЦКО по информатике в 10 классе.</div>
</div>
{% endblock %}